body{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(52, 52, 52);
    margin: 0;
    padding: 0;
}

.navbar{
    padding: 20px 15px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-list{
    width: 320px;
    display: flex;
    justify-content: space-between;

}
.nav-list a{
    text-decoration: none;
    color: #343434;
    font-weight: bold;
    font-size: 14px;
}