.container {
  height: 80vh;
  margin: auto;
  max-width: 500px;
  padding: 0.1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero {
}
.title {
  font-size: 3.8rem;
  color: #343434;
}
.subtitle {
}
.description {
  line-height: 22px;
}
.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 2.4rem;
  margin-bottom: 2rem;
}
/* #343434 */
.button {
  padding: 0.8rem 0.6rem;
  border: 2px solid #343434;
  text-decoration: none;
  border-radius: 4px;
  color: #343434;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  color: #fff;
  background-color: #343434;
}
.note {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}
.arrow {
  color: rgb(33, 185, 89);
  font-weight: 700;
  margin-right: 0.5rem;
}
