.ticketBody {
  width: 500px;
  margin: 2rem auto;
}

.intro {
  text-align: center;
  background-color: rgb(246, 168, 103);
  border: 1px solid rgb(225, 118, 30);
  background-color: rgb(152, 250, 202);
  border: 1px solid rgb(109, 182, 147);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.intro h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.form {
  padding: 20px 5px;
}

.form label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.form input,
.form select,
.form textarea {
  border: 1px solid rgb(232, 232, 232);
  padding: 8px;
  background-color: rgb(250, 249, 249);
  outline: none;
}

.field {
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px
  
}
.form input.file_upload {
  background-color: rgb(52, 52, 52);
  color: white;
  border-radius: 3px;
  font-size: 12px;
  border: none;
  font-weight: 700;
}
.form input.file_upload:hover {
  background-color: rgb(41, 41, 41);
  transition: 0.2s ease-in-out;
}

.row{
    display: flex;
    flex-direction: row; 
    gap: 12px;;
    
}

.button{
    background-color: rgb(52, 52, 52);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%
}
.button:hover{
    background-color: rgb(41, 41, 41);
    transition: 0.2s ease-in-out;

}