body {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.formWrapper{
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;    
  background-color: rgb(52, 52, 52);

}
.ticketBody {
  width: 500px;
  margin: 2rem auto;
  max-width: 90%;
  height: auto;
  padding: 1rem;
  background-color: white;
  border-radius: 7px;
}
.intro {
  text-align: center;
}
.intro h1 {
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  color: rgb(52, 52, 52);
  margin-bottom: 0;
}
.intro p{
  margin-top: 0;
}

.success{
  background-color: rgb(152, 250, 202);
  border: 1px solid rgb(109, 182, 147);
  padding: 6px;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
}
.error{
  background-color: rgb(255, 162, 139);
  border: 1px solid rgb(249, 92, 53);
  padding: 6px;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
}

.form {
  padding: 20px 5px;
}

.form label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.form input,
.form select,
.form textarea {
  border: 1px solid rgb(226, 226, 226);
  padding: 8px;
  background-color: rgb(255, 255, 255);
  outline: none;
  border-radius: 4px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.field {
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px
  
}
.form input.file_upload {
  border-radius: 3px;
  padding: 1px;
  font-size: 12px;
  border: none;
  /* font-weight: 700; */
}
.form input.file_upload:hover {
  /* background-color: rgb(41, 41, 41); */
  transition: 0.2s ease-in-out;
}

.row{
    display: flex;
    flex-direction: row; 
    gap: 12px;;
}

.button{
    background-color: rgb(52, 52, 52);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%
}
.button:hover{
    background-color: rgb(41, 41, 41);
    transition: 0.2s ease-in-out;

}